<div class="container ">
    <div class="row ">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <!-- Container wrapper -->
                <div class="container">
                <!-- Navbar brand -->
                <a class="navbar-brand me-2" href="https://mdbgo.com/">
                    <img
                    src="../../assets/donate.png"
                    height="50"
                    alt="MDB Logo"
                    loading="lazy"
                    style="margin-top: -1px;"
                    />
                </a>
            
                <!-- Toggle button -->
                <button
                    class="navbar-toggler"
                    type="button"
                    data-mdb-toggle="collapse"
                    data-mdb-target="#navbarButtonsExample"
                    aria-controls="navbarButtonsExample"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <i class="fas fa-bars"></i>
                </button>
            
                <!-- Collapsible wrapper -->
                <div class="collapse navbar-collapse" id="navbarButtonsExample">
                    <!-- Left links -->
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <span class="nav-link" style="font-weight: bold">{{name}}</span>
                    </li>
                    </ul>
                    <!-- Left links -->
            
                    <div class="d-flex align-items-center">
                    <button type="button" class="btn btn-primary me-3" (click)="logout()">
                        Logout
                    </button>
                    </div>
                </div>
                <!-- Collapsible wrapper -->
                </div>
                <!-- Container wrapper -->
            </nav>
            <br>
            <h4>Total Items Available</h4>
            <br>
            <div class="container">
                <div class="row ">
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                              <h5 class="card-title">Shirts/T-Shirts</h5>
                              <p class="card-text">Total Quantity Available - <b>{{getQuantity('shirts')}}</b></p>
                            </div>
                        </div>            
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                              <h5 class="card-title">Pants/Jeans/Trousers</h5>
                              <p class="card-text">Total Quantity Available - <b>{{getQuantity('pants')}}</b></p>
                            </div>
                        </div>            
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                              <h5 class="card-title">Science Books</h5>
                              <p class="card-text">Total Quantity Available - <b>{{getQuantity('science')}}</b></p>
                            </div>
                        </div>            
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                              <h5 class="card-title">Mathematics Books</h5>
                              <p class="card-text">Total Quantity Available - <b>{{getQuantity('maths')}}</b></p>
                            </div>
                        </div>            
                    </div>
                </div>
            </div>
            <br>
            <br>
            <ng-container *ngFor="let req of requests">
                <div class="card" *ngIf="req">
                    <div class="card-header">Request</div>
                    <div class="card-body">
                      <h5 class="card-title">NGO {{req?.userId?.name}} requested for {{req?.reqQuantity}} {{getItemType(req)}} at <span style="color: grey; font-size: smaller;">{{req?.createdAt | date: 'dd/MM/yyyy hh:mm'}}</span></h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <a class="btn btn-success" (click)="approve(req)" *ngIf="req.status === 0">Accept</a>
                      &nbsp;
                      <a class="btn btn-danger" (click)="reject(req)" *ngIf="req.status === 0">Reject</a>
                      <a class="btn btn-success" *ngIf="req.status === 1">Accepted</a>
                      <a class="btn btn-danger" *ngIf="req.status === 2">Rejected</a>
                    </div>
                </div>    
            </ng-container>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
